%div.row
  %h1.col= "Tracking #{@title}"

%section.row.thing.no-gutters{'data-name': @thing[:name], 'data-title': pretty_name(@thing[:name])}
  %div.col.graph
    %script.data{type: 'application/json'}
      = JSON.generate(data_of_thing(@thing[:id]))
