main.container { max-width: var(--breakpoint-md); }
.thing { min-height: 5rem; }
.graph { height: 100%; }
.open-thing:hover, .open-thing:focus { border-color: var(--dark); }
.open-thing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-left: 1px solid var(--primary);
}


:root { --breakpoint-now: var(--breakpoint-md); }

@media (max-width: var(--breakpoint-xs)) {
  :root { --breakpoint-now: var(--breakpoint-xs); }
}

@media (max-width: var(--breakpoint-sm)) {
  :root { --breakpoint-now: var(--breakpoint-sm); }
}

