main.container { max-width: var(--breakpoint-md); }
.thing { min-height: 5rem; }
.graph { height: 100%; }
.open-thing:hover, .open-thing:focus { border-color: var(--dark); }
.open-thing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-left: 1px solid var(--primary);
}

@media (min-width: 768px) {
  :root { --breakpoint-now: var(--breakpoint-md); }
}

@media (min-width: 577px) and (max-width: 767px) {
  :root { --breakpoint-now: var(--breakpoint-sm); }
}

@media (min-width: 324px) and (max-width: 576px) {
  :root { --breakpoint-now: 324px; }
}

